@mixin atSmall {
    @media(max-width:340px) {
        @content;
    }
}

@mixin atTabletsPortrait {
    @media(min-width:699px) {
        @content;
    }
}

@mixin atTabletsLandscape {
    @media(min-width: 900px) {
        @content;
    }
}

@mixin atDesktop {
    @media(min-widt: 1200px) {
        @content;
    }
}

@mixin atDesktopLarge {
    @media(min-width: 1500px) {
        @content;
    }
}