// fonts
$mainFont: 'Lora',sans-serif;
$copyFont: 'Open Sans',sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$red: #60101d;
$titleRed:#c31f3a;
$featureColor: #bf0c29;
$blue: #284f78;
$gold: #463112;