.logo {
    // box model
    padding-top: 30px;
    text-align: center;

    &--menu {
        // box model
        display: block;
        padding-top: 30px;
        text-align: center;
    }

    &--gold {
        // box model
        display: block;
        text-align: center;
    }
    @include atDesktop {
        // box model
        display: none;
    }
}