.main-menu {
    // positioning
    position: fixed;
    bottom: 0;
    left: -400px;
    top: 0;
    
    
    // box model
    height: 100%;
    width: 100%;
    z-index: 4;

    // display: none;
    // visual
    background-color: rgba(0, 0, 0, 1);
    transition: all 0.4s ease-out;
    visibility: hidden;
    
    @include atTabletsPortrait {
        // box model
        left: -700px;
    }

    @include atTabletsLandscape {
        left: -1100px;
    }

    @include atDesktop {
        // positioning
        position: fixed;
        left: 0;
        visibility: visible;
        width: 160px;
        z-index: 1;
    }
    &--shown {
        // positioning
        position: fixed;
        left: 0;

        // box model
        min-height: 100vh;

        // visual
        opacity: 0.99;
        visibility: visible;
    
    }
    &__list {
        // box model
        margin: 0;
        padding: 60px 30px;

        @include atSmall {
            // box model
            padding: 25px 30px;
        }
        
        @include atDesktop {
            // box model
            padding: 60px 0;
        }
        // visual
        list-style: none;
    }
    &__item {
        padding: 10px;
        text-align: center;
        padding-bottom: 15px;
        // border-bottom: 1px solid white;
    }
    
    &__link {
        text-decoration: none;
        color: white;
        width: 70%;
        padding-bottom: 25px;
        display: inline-block;
        //typigraphy
        font-family: "Lato",sans-serif;
        text-transform: uppercase;
        border-bottom: 1px solid white;
    }
}