.section {
    // box model
    padding: 0 15px;
    background-color: #ffffff;

    @include atTabletsPortrait {
        // box model
        padding: 0 30px;
    }

    &__left {
        // box model
        width: 50%;
        display: inline-block;
        // padding: 100px 0;
        // float: right;
        vertical-align: top;
    }

    &__right {
        // box model
        width: 48%;
        display: inline-block;
        
    }

    &__title {
        text-align: center;
        line-height: 2rem;
        font-family: $mainFont;
        color: black;

        &--marginboth {
            margin: 40px 0;
            text-align: left;
            font-size: 2rem;
            line-height: 3rem;
        }
    }
    &__text {
        text-align: left;
        font-family: $copyFont;
    }
    &__container {
        padding: 60px 0;
        text-align: center;
    }
}