.site-header {

    position: relative;
    background-color: rgba(37, 80, 136, 0.8);
    height: 100vh;
    // max-height: 100vh;
    margin-bottom: 50px;

    &::after {
        content: "";
        background-image: url('./img/bg-l.jpg');
        background-origin: cover;
        background-repeat: no-repeat;
        background-position: center center;

        // positioning
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        // box model
        z-index: -1;
    }

    &__title {
        // box model
        text-align: center;

        //typography
        font-weight: 200;
        font-size: 1.75rem;

        //visual
        color: white;
    }

    &__container {
        // box model
        text-align: center;
        padding: 80px 0;
        
    }
}